<div class="header-container">
    <a href="/" class="logo">ComparateurPrix</a>

    <nav>
        <ul class="nav-menu">
            <li><a href="/">Accueil</a></li>
            <li><a href="/produits/">Produits</a></li>
            <li><a href="/magasins/">Magasins</a></li>
            <li><a href="/proximite/">Proximité</a></li>
            <li><a href="/recommandations/">Recommandations</a></li>
            <li><a href="/api/homologations-stats/" target="_blank">Stats homologations</a></li>

        </ul>
    </nav>
    <div class="auth-buttons">
        <a href="/connexion/" class="btn">Connexion</a>
        <a href="/inscription/" class="btn btn-secondary">Inscription</a>
    </div>
</div>