# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual env
venv/
.env
*.env

# Django
staticfiles/
media/

# IDE/editor
.vscode/
.idea/
.DS_Store

# Test/coverage
.pytest_cache/
.coverage
htmlcov/

# Data exports
data/dgccrf_export.json
